ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background: #ddd;
    font-family: sans-serif;
}

.container {
    height: 35em;
    width: 40em;
    overflow: auto;
    position: relative;
    background: white;
    border: 1px solid #aaa;
    padding-left: 0;
}

.fixed {
    position: fixed;
    width: inherit;
    z-index: 999;
}

.item {
    padding: 1em 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #aaa;
}

.title {
    background: #505050;
    color: white;
}

.hidden {
    display: none !important;
}